<ion-popover-view class="menu-height ">
  <ion-content>
    <div class="list">
      <!-- <div class="item" you-take-photo take-success="vm.savePhotoProfile" ng-click="popover.hide()">Editar foto do pefil</div>
      <a class="item" href="#/menu/photos/{{vm.user.id}}" ng-click="popover.hide()">Editar minhas fotos</a> -->
      <div class="item" you-logout ng-click="popover.hide()">Sair</div>
    </div>
  </ion-content>
</ion-popover-view>
