<ion-view title="{{vm.user.full_name}}">
  <ion-nav-buttons side="right">
    <button class="button-icon ion-android-more-vertical" ng-click="vm.openMenu($event)">
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="profile" ng-if="vm.user">
      <div class="item item-image">
        <ion-slide-box>
          <ion-slide ng-repeat="photo in vm.user.profile.photos">
            <img ng-src="{{photo.url}}" />
          </ion-slide>
        </ion-slide-box>
        <a href="#/menu/photos/{{vm.user.id}}" class="button button-icon icon ion-camera action-camera"></a>
        <div class="item username">
          <h2>{{vm.user.full_name }}, {{vm.user.profile.age}}</h2>
          <h3>{{vm.user.profile.living_city}}</h3>
        </div>
      </div>
      <div class="item row">
        <you-interest-list class="col-67 interests" interests="vm.user.profile.detail_insterests" show-modal="false" ng-click="vm.showInterestsModal()"></you-interest-list>
        <div class="col" you-scroll-to hash="rating">
          <input-stars class="angular-input-stars user-rating-stars" ng-model="vm.user.profile.reference_rate" readonly max="5"></input-stars>
          <br>
          <span class="references">
            &quot;
            <ng-pluralize
              count="vm.user.profile.references.length"
              when="{'0': '0 Referência', 'one': '1 Referência', 'other': '{} Referências'}">
            </ng-pluralize>
          </span>
        </div>
      </div>
      <div class="card button-status row">
        <button class="col-50 button button-outline" ng-class="vm.user.profile.is_email_verified? 'button-balanced': 'button-assertive'" ng-click="vm.showConfirmEmail()" , ng-disabled="vm.user.profile.is_email_verified">
          <i class="icon you-icon-email first-icon"></i> E-mail
          <i class="icon last-icon" ng-class="vm.user.profile.is_email_verified? 'ion-android-done': 'ion-android-close'"></i>
        </button>
        <button class="col-50 button button-outline" ng-class="vm.user.profile.is_phone_verified? 'button-balanced': 'button-assertive'" ng-click="vm.showPhoneNumberModal()">
          <i class="icon ion-ios-telephone first-icon"></i> Telefone
          <i class="icon last-icon" ng-class="vm.user.profile.is_phone_verified? 'ion-android-done': 'ion-android-close'"></i>
        </button>
      </div>
      <div class="card">
        <div class="item item-divider" ng-click="vm.showOverviewModal()">
          Visão Geral
          <i class="icon you-icon-edit"></i>
        </div>
        <div class="item item-icon-left" ng-if="vm.user.profile.living_city">
          <i class="icon ion-location"></i><span>{{vm.user.profile.living_city}}</span>
        </div>
        <div class="item item-icon-left" ng-if="vm.user.profile.job_title">
          <i class="icon ion-briefcase"></i><span>{{vm.user.profile.job_title}}</span>
        </div>
        <div class="item item-icon-left" ng-if="vm.user.profile.education">
          <i class="icon ion-university"></i><span>{{vm.user.profile.education}}</span>
        </div>
      </div>

      <div class="card">
        <div class="item item-divider" ng-click="vm.showLanguagesModal()">
          Idiomas
          <i class="icon you-icon-edit"></i>
        </div>
        <div class="item item-icon-left">
          <i class="icon ion-android-globe"></i>
          <span ng-if="vm.user.profile.languages_formatted">{{vm.user.profile.languages_formatted}}</span>
          <span ng-if="!vm.user.profile.languages_formatted">Nenhum idioma informado</span>
        </div>
      </div>

      <div class="card">
        <div class="item item-divider" ng-click="vm.showAboutModal()">
          Sobre você
          <i class="icon you-icon-edit"></i>
        </div>
        <div class="item item-text-wrap about">
          <blockquote ng-bind-html="vm.user.profile.about || 'Escreva sobre você'"></blockquote>
        </div>
      </div>
      <div id="rating" class="card" ng-if="!vm.references.lenght">
        <div class="item item-divider">Avaliações</div>
        <div class="item item-avatar item-text-wrap" ng-repeat="reference in vm.references">
          <img ng-src="{{reference.from_user__photo_url}}" you-goto-profile user-id="{{reference.from_user__pk}}">
          <h2>{{reference.from_user__first_name}} {{reference.from_user__last_name}}</h2>
          <p>
            <input-stars class="ng-scope ng-valid angular-input-stars ng-dirty" list-class="shiny-list" readonly="true" max="5" ng-model="reference.rating" /> {{reference.created_at | date:"dd/MM/yyyy"}}
          </p>
          <p>{{reference.text}}</p>
        </div>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar class="profile-footer" ng-if="vm.user" ng-class="{
                  'progress-red': vm.profilePercentage <= 40,
                  'progress-yellow': vm.profilePercentage <= 70,
                  'progress-green': vm.profilePercentage  <= 100
                  }">
    <progress max="100" value="{{vm.profilePercentage}}"></progress>
    <span class="progress-text">Perfil {{vm.profilePercentage}}%</span>
  </ion-footer-bar>
</ion-view>
