<ion-view title="{{vm.user.full_name}}">
  <ion-content>
    <div class="profile" ng-if="vm.user">
      <div class="item item-image">
        <ion-slide-box>
          <ion-slide ng-repeat="photo in vm.user.profile.photos">
            <img ng-src="{{photo.url}}" />
          </ion-slide>
        </ion-slide-box>
        <i class="icon you-icon-air mate-status" ng-if="vm.user.profile.status == 'T'"></i>
        <div class="item username">
          <h2>{{vm.user.full_name }}, {{vm.user.profile.age}}</h2>
          <h3>{{vm.user.profile.living_city}}</h3>
        </div>
      </div>
      <div class="item row">
        <you-interest-list class="col-67 interests" interests="vm.user.profile.detail_insterests"></you-interest-list>
        <div class="col" you-scroll-to hash="rating">
          <input-stars class="angular-input-stars user-rating-stars" ng-model="vm.user.profile.reference_rate" readonly max="5"></input-stars>
          <br>
          <span class="references">
            &quot;
            <ng-pluralize
              count="vm.user.profile.references.length"
              when="{'0': '0 Referência', 'one': '1 Referência', 'other': '{} Referências'}">
            </ng-pluralize>
          </span>
        </div>
      </div>
      <div class="card button-status row">
        <button class="col-50 button button-outline button-assertive" ng-click="vm.actionMate.action()">
          <i class="icon ion-android-person-add first-icon"></i>{{vm.actionMate.text}}
        </button>
        <button class="col-50 button button-outline button-balanced" ng-click="vm.openChat()">
          <i class="icon ion-ios-chatbubble first-icon"></i>Conversar
        </button>
      </div>
      <div class="card">
        <div class="item item-divider">Visão Geral</div>
        <div class="item item-icon-left" ng-if="vm.user.profile.living_city">
          <i class="icon ion-location"></i><span>{{vm.user.profile.living_city}}</span>
        </div>
        <div class="item item-icon-left" ng-if="vm.user.profile.job_title">
          <i class="icon ion-briefcase"></i><span>{{vm.user.profile.job_title}}</span>
        </div>
        <div class="item item-icon-left" ng-if="vm.user.profile.education">
          <i class="icon ion-university"></i><span>{{vm.user.profile.education}}</span>
        </div>
        <div class="item item-icon-left" ng-if="vm.user.profile.languages_formatted">
          <i class="icon ion-chatboxes"></i><span>{{vm.user.profile.languages_formatted}}</span>
        </div>
        <div class="item item-icon-left {{vm.user.profile.is_email_verified? 'confirmad': 'not-confirmad'}}"
          ng-disabled="vm.user.profile.mate_status != 'M'">
          <i class="icon ion-ios-email"></i>
          <span>
            Email {{vm.user.profile.is_email_verified? 'confirmado' : 'não confirmado'}}
          </span>
        </div>
        <div class="item item-icon-left {{vm.user.profile.is_phone_verified? 'confirmad': 'not-confirmad'}}"
          ng-disabled="vm.user.profile.mate_status != 'M'">
          <i class="icon ion-ios-telephone"></i>
          <span>
            Telefone {{vm.user.profile.is_phone_verified? 'confirmado' : 'não confirmado'}}
          </span>
        </div>
      </div>
      <div class="card">
        <div class="item item-divider">Sobre você</div>
        <div class="item item-text-wrap about">
          <blockquote ng-bind-html="vm.user.profile.about"></blockquote>
        </div>
      </div>
      <div id="rating" class="card" ng-if="vm.references.length || vm.isMate">
        <div class="item item-divider">Avaliações</div>
        <div class="item-full-button">
          <button class="button button-outline button-positive button-block" ng-if="vm.isMate && !vm.rating.id" ng-click="vm.openRating()">
          Deixe a sua avaliação
          </button>
        </div>
        <div class="item item-avatar item-text-wrap" ng-if="vm.rating.from_user == vm.me.id">
          <img ng-src="{{vm.rating.from_user__photo_url}}" you-goto-profile user-id="{{vm.rating.from_user__pk}}">
          <h2>{{vm.rating.from_user__first_name}} {{vm.rating.from_user__last_name}}</h2>
          <p>
            <input-stars class="ng-scope ng-valid angular-input-stars ng-dirty" list-class="shiny-list" readonly="true" max="5" ng-model="vm.rating.rating" /> {{vm.rating.created_at | date:"dd/MM/yyyy"}}
          </p>
          <p>{{vm.rating.text}}</p>
          <button class="button button-small button-assertive button-outline button-edit-review" ng-click="vm.openRating()">editar</button>
        </div>

        <div class="item item-avatar item-text-wrap" ng-repeat="reference in vm.references|filter:!{from_user: vm.me.id}">
          <img ng-src="{{reference.from_user__photo_url}}" you-goto-profile user-id="{{reference.from_user__pk}}">
          <h2>{{reference.from_user__first_name}} {{reference.from_user__last_name}}</h2>
          <p>
            <input-stars class="ng-scope ng-valid angular-input-stars ng-dirty" list-class="shiny-list" readonly="true" max="5" ng-model="reference.rating" /> {{reference.creat  ed_at | date:"dd/MM/yyyy"}}
          </p>
          <p>{{reference.text}}</p>
        </div>
      </div>
    </div>
    <div style="height: 20px;"></div>
  </ion-content>
  <ion-footer-bar class="profile-footer" ng-if="vm.user" ng-class="{
                  'progress-red': vm.profilePercentage <= 40,
                  'progress-yellow': vm.profilePercentage <= 70,
                  'progress-green': vm.profilePercentage  <= 100
                  }">
    <progress max="100" value="{{vm.profilePercentage}}"></progress>
    <span class="progress-text">Perfil {{vm.profilePercentage}}%</span>
  </ion-footer-bar>
</ion-view>
