.rating-modal {
  width: 90%;
  height: 300px;

  textarea {
    height: 150px;
  }
}

.button-edit-review {
  position: absolute;
  top: 5px;
  right: 16px;
}

.item-full-button {
  padding: 0 15px;
}

.confirmad {
    color: #33CD5F !important;
}

.not-confirmad {
    color: #C94533 !important;
}