<ion-modal-view class="nifity-modal rating-modal text-center">
  <ion-header-bar>
    <h1 class="title">Avaliação</h1>
  </ion-header-bar>
  <ion-content class="padding">
    <input-stars class="angular-input-stars" max="5" ng-model="vm.ratingAux.rating"></input-stars>
    <label class="item-input">
      <textarea rows="5" placeholder="Deixe um comentário" ng-model="vm.ratingAux.text" maxlength="300">
      </textarea>
    </label>
  </ion-content>
  <div class="bar bar-footer">
    <button class="button button-clear button-assertive pull-right" ng-click="vm.sendRating()">
      Enviar
    </button>
  </div>
</ion-modal-view>
