<div class="list">
  <div class="card">
    <div class="item item-divider">
      Escreva sobre você
    </div>
    <label class="item item-input">
      <textarea you-elastic-textarea type="text" rows="8" placeholder="Escreva sobre você" ng-maxlength="300" maxlength="300" ng-model="vm.userAux.profile.about" ng-bind-html="vm.userAux.profile.about" ng-change="vm.removeReferenceOfAboutText()"></textarea>
    </label>
    <span class="about-count">{{300-vm.userAux.profile.about.length}}</span>
  </div>
  
  <h6 class="item-divider text-center" ng-if="vm.references.length">Escolha uma referência que você gostou</h6>  
  
  <div class="item item-avatar item-text-wrap" ng-repeat="reference in vm.references" ng-click="vm.selectReference($index)" ng-if="reference.text">
    <img ng-src="{{reference.from_user__photo_url}}">
    <h2>{{reference.from_user__first_name}} {{reference.from_user__last_name}}</h2>
    <p>
      <input-stars class="ng-scope ng-valid angular-input-stars ng-dirty" list-class="shiny-list" readonly="true" max="5" ng-model="reference.rating" /> {{reference.created_at | date:"dd/MM/yyyy"}}
    </p>
    <p>{{reference.text}}</p>
  </div>
</div>
