<div class="card">
  <div class="item item-divider">
    Interesses
  </div>
  <div class="item">
    <you-interests-edit check-list="vm.userAux.profile.interests" is-loaded="loadedInterests"></you-interests-edit>
  </div>
</div>
