<ion-modal-view>
  <ion-header-bar align-title="center" class="header-modal">
    <div class="buttons">
      <button class="button button-clear" ng-click="vm.hideLanguagesModal()">Cancelar</button>
    </div>
    <h1 class="title">Idiomas</h1>
    <div class="buttons">
      <button class="button button-clear" ng-disabled="!vm.userAux.profile.language_ids.length" ng-click="vm.updateUser()">Salvar</button>
    </div>
  </ion-header-bar>
  <ion-content class="profile profile-full-height">
    <div class="list">
        <div class="item item-input" style="background-color: #f5f5f5;">
          <i class="icon ion-funnel placeholder-icon"></i>
          <input type="text" placeholder="Filtrar" ng-model="search.name">
        </div>

        <ion-checkbox ng-repeat="language in vm.languages | filter:search"
            ng-model="language.check"
            ng-checked="language.check"
            ng-change="vm.checkLanguage(language.id)">
            {{ language.name }}
        </ion-checkbox>
    </div>
  </ion-content>
</ion-modal-view>
