<div class="card">
  <div class="item item-divider">Informações Básicas</div>
  <label class="item item-input">
    <span class="input-label">Nome</span>
    <input type="text" ng-model="vm.userAux.first_name" placeholder="Ex.: João">
  </label>
  <label class="item item-input">
    <span class="input-label">Sobrenome</span>
    <input type="text" ng-model="vm.userAux.last_name" placeholder="Ex.: Santos">
  </label>
  <label class="item item-input item-select">
    <span class="input-label">Gênero</span>
    <select ng-model="vm.userAux.profile.genre">
      <option value="X" selected>-</option>
      <option value="M">Masculino</option>
      <option value="W">Feminino</option>
    </select>
  </label>
  <label class="item item-input">
    <span class="input-label">Cidade atual</span>
    <input type="text" ng-model="vm.userAux.profile.living_city" force-selection="true" g-places-autocomplete>
  </label>
</div>
<div class="card">
  <div class="item item-divider">
    Trabalho
  </div>
  <label class="item item-input">
    <span class="input-label">Profissão</span>
    <input type="text" ng-model="vm.userAux.profile.job_title" placeholder="Ex.: Professor">
  </label>
</div>
