<div class="card">
  <div class="item item-divider">
    Informe o seu Celular
  </div>
  <label class="item item-input">
    <input type="text" ng-model="vm.userAux.profile.phone" placeholder="(DDD) XXXXX-XXXX" mask="(999) 99999?-9999">
  </label>
</div>

<div ng-if="vm.user.profile.phone != null && !vm.user.profile.is_phone_verified">
  <div class="card">
    <div class="item item-divider">
      Informe o código recebido por SMS
    </div>
    <label class="item item-input">
      <input type="text" placeholder="#####" maxlength="5" minlength="5" ng-model="vm.verificationCode" ng-change="vm.sendPhoneVerificationCode()">
    </label>
  </div>
  <button class="padding button button-clear button-positive" ng-click="vm.savePhoneNumber()">
    Obter outro código de verificação
  </button>
</div>
