<ion-modal-view>
  <ion-header-bar align-title="center" class="header-modal">
    <div class="buttons">
      <button class="button button-clear" ng-click="vm.hideProfileModal()">Cancelar</button>
    </div>
    <h1 class="title">Editar</h1>
    <div class="buttons">
      <button class="button button-clear" ng-disabled="!vm.userAux.profile.interests.length" ng-click="vm.updateUser()">Salvar</button>
    </div>
  </ion-header-bar>
  <ion-content class="profile profile-full-height">
    <div ng-include="vm.templateFormUrlModal">
  </ion-content>
</ion-modal-view>
