<ion-view>
  <ion-nav-buttons side="right">
    <form ng-submit="vm.findByPlace()">
      <input type="search"
             ng-autocomplete
             ng-model="vm.place"
             placeholder="Onde você quer ir?">
    </form>
    <button type="submit"
            class="button button-icon icon ion-android-search"
            ng-click="vm.findByPlace()"
            ng-disabled="vm.place == null || vm.place == ''">
    </button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="row row-center geo" ng-if="vm.location">
      <i class="icon ion-navigate col col-10"></i>
      <div>
        <p class="geo-title">Buscar Mates Próximos</p>
        <p class="geo-subtitle" ng-click="vm.findByLocation()">{{vm.location}}</p>
      </div>
    </div>
    <div class="list">
      <a href="#" class="item item-icon-right" ng-repeat="search in vm.searchs" ng-click="vm.searchMates(search.search)">
        {{search.search}}
        <i class="icon ion-ios-close-empty" ng-click="vm.removeSearch($index, search)"></i>
      </a>
    </div>
  </ion-content>
</ion-view>
