.geo {
  line-height: 10px;
  padding-left: 12px;
}

.geo-title {
  font-weight: bold;
  font-size: 12px;
  padding-top: 16px;
  color: #423030;
}

.geo-subtitle {
  font-size: 12px;
  color: #000;
}
