<ion-view title="{{vm.target.first_name}} {{vm.target.last_name}}">
  <ion-nav-bar>
    <ion-nav-buttons side="right">
      <button class="button button-clear btn-apply-modal" ng-click="vm.save()" ng-disabled="vm.params.interests.length == 0 || vm.params.living_city.length == 0">Salvar</button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="has-button-footer">
    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">Sexo</div>
        <select ng-model="vm.params.genre">
          <option value="X">-</option>
          <option value="M">Masculino</option>
          <option value="W">Feminino</option>
        </select>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Onde você mora</span>
        <input type="text"
               ng-autocomplete
               ng-model="vm.params.living_city"
               placeholder="Ex.: Natal - Rio Grande do Norte, Brasil">
      </label>
    </div>
    <div class="padding">
      <h4 class="padding-horizontal">Interesses</h4>
      <p class="padding-horizontal" ng-hide="loadedInterests">Carregando...</p>
    </div>
    <you-interests-edit check-list="vm.params.interests" is-loaded="loadedInterests"></you-interests-edit>
  </ion-content>
</ion-view>
