<ion-modal-view class="nifity-modal rating-modal text-center">
  <ion-header-bar>
    <h1 class="title">Escrever Resposta</h1>
  </ion-header-bar>
  <ion-content class="padding">
    <label class="item-input">
      <textarea rows="8" placeholder="Deixe uma resposta" maxlength="500" ng-model="newAnwser.text">
      </textarea>
    </label>
  </ion-content>
  <div class="bar bar-footer">
    <button class="button button-clear button-assertive pull-right" ng-click="saveNewAnwser()">
      Enviar
    </button>
  </div>
</ion-modal-view>
