<ion-view title="Respostas">
  <ion-content class="has-header">
    <div class="answer-toolbar">
      <h5 class="poll">{{ vm.poll.text }}</h5>
      <div class="interests poll-interests" you-interest-list interests="vm.poll.interests"></div>
    </div>
    <div class="list card no-margin-card" ng-repeat="answer in vm.poll.answers">
      <div class="item item-avatar">
        <img ng-src="{{ answer.user.picture }}" you-goto-profile user-id="{{ answer.user.id }}">
        <h2>{{ answer.user.full_name }}</h2>
        <p>{{ answer.user.living_city }}</p>
      </div>
      <div class="item item-body">
        <p>{{ answer.text }}</p>
        <button class="button button-clear" ng-click="vm.likeAction($index)">
          <i class="icon ion-thumbsup" ng-class="{'liked': answer.liked}"></i>  {{ answer.likes }}
        </button>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar class="bar-assertive tabs footer-filter" ng-click="vm.openAnswerCreateModal()">
    <a class="tab-item">Responder</a>
  </ion-footer-bar>
</ion-view>
