<ion-nav-view>
  <div class="bar bar-subheader polls-list-inset" id="shrink-polls">
    <div class="find-polls">
      <label class="item item-input">
        <input type="search"
               placeholder="Cidade"
               ng-autocomplete
               ng-model="location.city"
               location="location"
               ng-click="polls.selectTextInputCity($event)"
               ng-focus="polls.inputFocus()"
               ng-blur="polls.inputBlur()">
      </label>
      <button class="button button-clear button-icon ion-search placeholder-icon" ng-click="polls.findPolls()"></button>
    </div>

    <div class="row polls-buttons-inset">
      <div class="subheader-overlay"></div>
      <button class="button button-full button-balanced icon-left ion-android-add"
              ng-click="polls.openPollCreateModal()"
              ng-disabled="polls.disableButton">
        Adicionar Pergunta
      </button>
      <button class="button button-full button-light button-find icon-left ion-funnel"
              ng-click="polls.openPollsFilter()"
              ng-disabled="polls.disableButton">
        Filtros
      </button>
    </div>
  </div>
  <ion-content class="has-header" you-scroll-shrink="shrink-polls">
    <div class="has-polls-inset"></div>
    <div class="pure-g">
      <div class="list card padding no-margin-card pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4"
           ng-repeat="poll in polls.list">
        <div class="item item-avatar">
          <img ng-src="{{ poll.user.picture }}" you-goto-profile user-id="{{ poll.user.id }}">
          <h2>{{ poll.user.full_name }}</h2>
          <p>{{ poll.user.living_city }}</p>
        </div>
        <div class="item item-body">
          <p>{{ poll.text }}</p>
          <div class="interests poll-interests" you-interest-list interests="poll.interests"></div>
          <div class="row action-buttons">
            <button class="col-50 button button-small button-outline button-assertive" ng-click="polls.openAnwserCreateModal(poll.id)">Responder</button>
            <a class="col-50 button button-small button-outline button-assertive" href="#/menu/answers/{{ poll.id }}">Ver Respostas</a>
          </div>
        </div>
      </div>
    </div>
    <span class="empty-list-msg" ng-if="polls.emptyMsg">
      {{ polls.emptyMsg }}
    </span>
  </ion-content>
</ion-nav-view>
