$youmate-color: #dd4b38;

.no-margin-card {
  margin-right: 0;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 5px;
}

.polls-list-inset {
  background: url('img/polls_background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  padding: 16px;
  height: 150px;

  .item-input {
    margin-top: 25px;
  }

  .item-input {
    max-height: 40px;
  }

  .item-input .icon {
    min-width: 14px;
    font-size: 20px;
    margin-right: 10px;
  }

  .button {
    margin-top: 15px;
    margin-bottom: 0px;
  }

  .button[disabled] {
    opacity: 1;
  }
}

.find-polls {
  width: 100%;

  .button {
    position: absolute;
    top: 30px;
    z-index: 999 !important;
    right: 20px;
  }

  input {
    padding-right: 40px;
  }
}

.polls-buttons-inset {
  padding: 0px !important;
}

.has-polls-inset {
  height: 176px;
}

.polls-buttons-inset .icon-left {
  padding-left: 10px;
}

.button-find {
  color: $youmate-color !important;
  margin-left: 15px;
}

.action-buttons {
  padding: 0px;
}

.action-buttons .button:first-child {
  margin-right: 5px;
}

.action-buttons .button:last-child {
  margin-left: 5px;
}

.poll-interests {
  text-align: right;

  img {
    width: 30px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 10px;
  }

  img:last-child {
    margin-right: 0;
  }
}

.answer-toolbar {
  background-color: $youmate-color;
  padding: 20px 10px 10px 10px;

  .poll {
    color: #fff;
  }

  .poll-interests {
    margin-bottom: 0;
  }

  .poll-interests img {
    /* border-radius: 100%;
    border: 1px solid #fff;
    background-color: #fff; */
  }
}

.filter-toolbar {
  margin-bottom: 15px;
}

.liked {
  color: $youmate-color;
}
