<ion-view title="Adicionar uma Pergunta">
  <ion-nav-buttons side="right">
    <button class="button button-clear button-assertive" ng-click="polls.saveNewPoll()" ng-disabled="!polls.isValid">Enviar</button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="list">
      <label class="item item-input">
        <textarea placeholder="Escreva uma pergunta" rows="5" ng-model="polls.text"></textarea>
      </label>

      <label class="item item-input">
        <input type="text" placeholder="Cidade" ng-autocomplete ng-model="polls.city" location="polls.location">
      </label>
    </div>

    <p class="text-center">selecione os interesses relacionados a pergunta</p>
    <you-interests-edit check-list="polls.interests"></you-interests-edit>
  </ion-content>
</ion-view>
