<ion-view title="Filtros">

  <ion-content class="has-header">
    <div class="answer-toolbar filter-toolbar">
      <h5 class="poll">Filtre as perguntas e suas respectivas respostas por interesses</h5>
    </div>

    <you-interests-edit check-list="polls.interests"></you-interests-edit>
  </ion-content>

  <ion-footer-bar class="bar-assertive tabs footer-filter" ng-click="polls.apply()">
    <a class="tab-item">Aplicar</a>
  </ion-footer-bar>
</ion-view>