<ion-modal-view>
  <ion-header-bar align-title="center" class="bar-assertive header-modal">
    <div class="buttons">
      <button class="button button-icon icon ion-android-close" ng-click="vm.hideFilterModal()"></button>
    </div>
    <h1 class="title"></h1>
    <div class="buttons">
      <button class="button button-apply" ng-click="vm.applyFilters()">Aplicar</button>
    </div>
  </ion-header-bar>
  <ion-content class="has-button-footer">
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Username" ng-model="vm.filters.username">
      </label>
      <label class="item item-input item-select">
        <div class="input-label">Sexo</div>
        <select ng-model="vm.filters.genre">
          <option value="">Todos</option>
          <option value="M">Masculino</option>
          <option value="W">Feminino</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">Status</div>
        <select ng-model="vm.filters.status">
          <option value="">Todos</option>
          <option value="L">Local</option>
          <option value="T">Viajante</option>
        </select>
      </label>
    </div>
    <h4 class="text-center">Interesses</h4>
    <p ng-hide="loadedInterests" class="text-center">Carregando...</p>
    <you-interests-edit check-list="vm.filters.interests" is-loaded="loadedInterests"></you-interests-edit>
  </ion-content>
</ion-modal-view>
