<ion-view title="Mates">
  <ion-content class="has-header">
    <you-mate-card-list users="vm.page.list"></you-mate-card-list>
    <ion-infinite-scroll ng-if="vm.page.hasNext()" on-infinite="vm.queryMates()" spinner="android">
    </ion-infinite-scroll>
    <span class="empty-list-msg" ng-if="vm.page.isEmpty()">Não foi encontrado nenhum Mate :(</span>
  </ion-content>
  <ion-footer-bar class="bar-assertive tabs footer-filter" ng-click="vm.showFilterModal()">
    <a class="tab-item">Filtros</a>
  </ion-footer-bar>
</ion-view>
