@import '../../app';
.footer-filter {
  padding: 0px;
}

.footer-filter a {
  font-weight: 900;
  font-size: 16px;
}

.header-modal {
	height: $menu-height;
}

.button-apply {
  font-size: 16px !important;
  font-weight: 700 !important;
}
