<ion-view view-title="Contatos" class="chat-list">
  <ion-content class="has-header">
    <div class="list">
      
      <div class="item item-input item-divider chat-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Buscar" ng-model="search.$">
      </div>
      
      <div class="item item-avatar"
          ng-repeat="chat in vm.chats | filter:{user: search} | filter:search" 
          ng-click="vm.onItemClick(chat.user)"
          on-hold="vm.removeChat($index)" 
          ng-show="chat.user.first_name != null"
          type="item-text-wrap">
        <img ng-src="{{chat.user.profile.photo_url}}">
        <h2 class="chat-username">{{chat.user.first_name}} {{chat.user.last_name}}</h2>
        <h2 class="chat-message">{{chat.message}}</h2>
        <span class="badge badge-assertive chat-badge" ng-if="chat.count">{{chat.count}}</span>
        <span class="chat-date">{{chat.timestamp | date:'dd/MM/yyyy'}}</span>
      </div>
    </div>

  </ion-content>
</ion-view>
