  .chat-input {
  height: 55px;
}

.chat-username {
  font-weight: 600 !important;
  color: #4E4E4E;
}

.chat-message {
  margin-right: 90px !important;
}

.chat-date {
  position: absolute;
  bottom: 16px;
  right: 16px;
  color: #aaa;
  font-size: 14px
}

.chat-badge.badge {
  top: 10px;
  right: 16px;
}