.login {
  display: block;
  vertical-align: middle;
  background-image: url('img/login_background.jpg');
  background-size: cover;
}

.logotipo {
  position: absolute;
  top: 30%;
  height: 5.5em;
}

.logotipo img {
  height: 80px;
}


/* social buttons */

.inline-buttons {
  width: 100%;
  display: flex;
}

.social-buttons {
  position: absolute;
  bottom: 0;
  width: 100%;
}

@mixin btn-social($color, $background-color, $border-color) {
  color: $color;
  background-color: $background-color;
  border-color: $border-color;
  margin-top: 10px;
  width: 100%;
}

.btn-facebook {
  @include btn-social(#fff, #3b5998, rgba(0, 0, 0, 0.2));
}

.btn-google {
  @include btn-social(#c23321, #fff, rgba(0, 0, 0, 0.2));
}

/* @media all and (orientation: landscape) {
  .btn-facebook,
  .btn-google {
    width: 45%;
  }
} */
