<ion-view view-title="Login" cache-view="false">
  <ion-nav-bar>
    <ion-nav-back-button ng-click="vm.goHome()">  
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content class="has-header padding login">
    <div class="row col col-100 text-center logotipo">
      <img src="img/youmate-with-text.svg" alt="">
      <h5>Descubra o mundo com um olhar diferente</h5>
    </div>
    <div class="social-buttons">
      <you-button-facebook-login></you-button-facebook-login>
      <you-button-google-login></you-button-google-login>
    </div>
  </ion-content>
</ion-view>
