.mate-card {
  margin: 0px 0px 5px 0px !important;

  border-radius: 0px !important;
  /* border-bottom: .8px solid #b1b1b1;   */
  .item-image {
    background: #b1b1b1;
    height: 280px;
    width: 100%;
  }
  p {
    padding: 0px 16px 5px 16px !important;
  }
  .interests {
    position: absolute;
    display: inline-flex;
    width: 100%;
    height: 30px;
    padding-left: 16px;
    top: 265px;
  }
  .interests img {
    z-index: 9999 !important;
    width: 30px !important;
    height: 30px;
    margin: 2px;
    border-radius: 100%;
    border: 1px solid white;
    background-color: white;
    /* -webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.4); */
    /* -moz-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.4); */
    /* box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.4);*/
  }
  .item-text {
    margin-left: 20px;
    padding-bottom: 10px;
  }
  .username {
    font-weight: 100;
    font-size: 15pt;
    color: #6e6e72;
  }
  .references {
    color: #76767a;
    font-size: 10pt;
    font-weight: 500;
    text-align: right;
  }
  .born-city {
    color: #76767a;
    font-size: 10pt;
    font-weight: 500;
  }
  .angular-input-stars {
    text-align: right;
  }
  .angular-input-stars i {
    font-size: 14pt;
    text-shadow: none !important;
  }
  .angular-input-stars li {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.mate-status {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
  font-size: 25px;
  transform: rotate(45deg);
  color: white;
  background-color: rgba(17, 17, 17, 0.22);
  -moz-box-shadow: 0 0 25px 25px rgba(222, 222, 222, 1);
  -webkit-box-shadow: 0 0 25px 25px rgb(180, 180, 180);
  box-shadow: 0 0 40px 20px rgba(17, 17, 17, 0.22);
}
