<div class="pure-g">
<div class="list card mate-card pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 l-box" ng-repeat="user in vm.users track by $index">
  <a class="item item-image" you-goto-profile user-id="{{user.id}}">
    <img ng-src="{{user.profile.photo_url}}">
  </a>
  <i class="icon you-icon-air mate-status" ng-if="user.profile.status == 'T'"></i>
  <div class="interests" you-interest-list interests="user.profile.interests"></div>
  <br>
  <div class="row padding-top" you-goto-profile user-id="{{user.id}}">
    <p class="col col-50 username">{{user.first_name}}, {{user.profile.age}}</p>
    <input-stars class="col angular-input-stars" readonly max="5" ng-model="user.profile.referece.average_rate" />
  </div>
  <div class="row" you-goto-profile user-id="{{user.id}}">
    <p class="col col-50 born-city">{{user.profile.living_city}}</p>
    <p class="col references">
      <ng-pluralize count="user.profile.referece.total" when="{'0': '0&quot; referência', 'one': '1&quot; referência', 'other': '{}&quot; Referências'}"></ng-pluralize>
    </p>
  </div>
</div>
</div>
