<ion-view view-title="Meus Mates">
  <ion-content class="has-subheader">
    <ion-list>
      <ion-item ng-repeat="(key, user) in vm.users" class="item-chat item-avatar" you-goto-profile user-id="{{user.id}}">
        <img ng-src="{{user.profile.photo_url}}">
        <h2>{{user.first_name}} {{user.last_name}}</h2>
        <p>{{user.profile.living_city}}</p>
      </ion-item>
    </ion-list>
    <ion-spinner icon="android" ng-show="vm.loading"></ion-spinner>
    <span class="empty-list-msg" ng-if="vm.emptyList">Você ainda não tem nenhum Mate!</span>
  </ion-content>
</ion-view>
