@import '../app';
$item-divider-margin-top: 16px;
$font-span-color: #808080;
$footer-height: 45px;
$profile-bottom-height: 60px;

.profile-full-height {
  margin-bottom: 0px !important;
}

.profile {
  background-color: $youmate-background;
  margin-bottom: $profile-bottom-height;
  .card {
    margin: 0px 0px 10px 0px;
    border-radius: 0;
  }
  .item {
    border: none;
  }
  .item {
    color: $font-span-color;
    font-size: 14px;
    font-weight: 600;
  }
  .item-image {
    min-height: 150px;
  }
  .item-select select {
    color: $youmate-color;
  }
  .item-divider {
    background-color: transparent;
    color: $youmate-color;
    font-weight: bold;
    text-align: left;
    padding-top: $item-divider-margin-top;
  }
  .item-divider .icon {
    position: absolute;
    top: $item-divider-margin-top;
    right: $item-divider-margin-top;
    color: $youmate-icon-color;
    font-size: 18px;
  }
  .item-select select {
    left: 33%;
    direction: ltr;
  }
  .item-icon-left .icon {
    font-size: 20px;
    left: 5px;
  }
  .item-icon-left span {
    margin-left: -10px;
  }
  input {
    color: $youmate-color;
  }
  .slider {
    position: relative;
    max-height: 350px;

    img {
      height: 350px;
    }
  }
  .slider-pager {
    bottom: 10px;
  }
  .slider-pager-page {
    margin: 0px 1px;
    font-size: 10px;
    width: 10px;
    color: $youmate-color;
  }  
  .username {
    position: absolute;
    bottom: 10px;
    background-color: rgba(17, 17, 17, 0.22);
    width: 100%;
    -moz-box-shadow: 0 0 25px 25px rgba(222, 222, 222, 1);
    -webkit-box-shadow: 0 0 25px 25px rgb(180, 180, 180);
    box-shadow: 0 0 40px 20px rgba(17, 17, 17, 0.22);
    text-align: left;
    font-weight: bold;
    h2 {
      font-size: 14pt;
      width: 100%;
      color: white;
    }
    h3 {
      font-size: 12pt;
      width: 100%;
      color: white;
    }
  }
  .button-camera {
    position: absolute;
    top: 10px;
    right: 16px;
    font-size: 30px;
    color: $youmate-icon-color;
  }
  .interests {
    margin-left: 5px;
  }
  .interests img {
    width: 35px;
    height: 35px;
    margin: 0px 2px;
    border-radius: 100%;
    -webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.4);
  }
  .user-rating-stars {
    right: 16px;
  }
  .references {
    font-size: 12px;
    font-weight: bold;
  }
  .button-status {
    padding: 10px;
    button {
      font-weight: 900;
    }
    button:first-child {
      margin-right: 2px;
    }
    button:last-child {
      margin-left: 2px;
    }
    button .icon {
      font-size: 25px;
    }
    button .first-icon {
      position: absolute;
      left: 10px;
    }
    button .last-icon {
      position: absolute;
      right: 10px;
    }
  }
  .about {
    text-align: right;
    color: #A7A2A2;
    font-style: italic;
    text-align: left;
  }
  .about blockquote {
    background: url('img/blockquote.png');
    background-size: 30px;
    min-height: 30px;
    background-repeat: no-repeat;
    padding-left: 45px;
    border: none;
  }
  .about span {
    position: absolute;
    right: 16px;
    bottom: 5px;
  }
}

.profile-footer {
  background-color: #DDDDDD;
  padding: 5px;
  height: $footer-height;
  progress {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 30px;
    margin: auto 6px;
  }
  progress[value]::-webkit-progress-bar {
    background-color: rgba(163, 163, 163, 0.47);
    border-radius: 1px;
    /*box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);*/
  }
  progress[value]::-webkit-progress-value {
    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
  }
}

.progress-green progress[value]::-webkit-progress-value {
  background-color: #5cdd6d;
}

.progress-yellow progress[value]::-webkit-progress-value {
  background-color: #f76d08;
}

.progress-red progress[value]::-webkit-progress-value {
  background-color: #dd2f1f;
}

.progress-text {
  position: absolute;
  width: 100%;
  margin: auto;
  top: 12px;
  left: 0;
  color: #FFFFFF;
  font-size: 13pt;
  text-align: center;
}
