<ion-view title="Galeria" class="gallery">
  <ion-content>
    <h4>Foto do Perfil</h4>

    <div class="photo">
      <button class="button-icon you-icon-edit" you-take-photo take-success="vm.savePhotoProfile"></button>
      <img ng-src="{{vm.user.profile.photo}}">
    </div>

    <h4>Minha Galeria</h4>
    <div class="photo" ng-repeat="photo in vm.photos">
      <button class="button-icon ion-trash-a" ng-click="vm.deletePhoto($index)"></button>
      <img ng-src="{{photo.image}}">
    </div>
    <div class="photo add-photo" ng-if="vm.photos.length <= 6" you-take-photo take-success="vm.addPhoto">
      <span class="icon ion-android-add add-photo-icon"></span>
      <span class="add-photo-msg">adicionar foto</span>
    </div>
  </ion-content>
  <ion-footer-bar class="bar-assertive tabs footer-filter" ng-if="vm.photos.length <= 6" you-take-photo take-success="vm.addPhoto" >
    <a class="tab-item">Adicionar Fotos</a>
  </ion-footer-bar>
</ion-view>
