.gallery {
  flex-wrap: wrap;
  ion-content {
    display: inline-block;
    bottom: 50px;
    padding-top: 10px;
    margin-left: 2.5px;
    margin-right: 2.5px;
  }
  .photo {
    display: inline-block;
    position: relative;
    width: 50%;
    height: 160px;
    img {
      width: 100%;
      height: 100%;
      padding-left: 2.5px;
      padding-right: 2.5px;
    }
    button {
      position: absolute;
      top: 5px;
      right: 5px;
      font-size: 20px;
    }
  }
  .add-photo {
    width: calc(50% - 4px);
    height: 160px;
    border: 1px solid #A2A2A2;
    background: #D4D4D4;

    span {
      position: absolute;
      text-align: center;
      left: 0;
      right: 0;
    }
  }
  .add-photo-icon {
    top: 30%;
    font-size: 24px;
  }
  .add-photo-msg {
    top: 50%;
    font-size: 16px;
  }
}
