$youmate-color: #dd4b38;

@mixin move($left, $top) {
  position: absolute;
  top: $top;
  left: $left;
  transform: translate(-$left, -$top)
}

.show-splash {
  display: inline !important;
}

.hide-splash {
  display: none;
}

#splash {
  background-color: #fff;
  width: 100%;
  height: 100%;
  z-index: 100;
  position: absolute;
}

#splash h1 {
  @include move(50%, 90%);
  color: rgba(156, 148, 148, 0.83);
}

#splash svg {
  @include move(50%, 50%);
  width: 150px;
  path {
    fill-opacity: 0.9;
    fill: #fff;
    stroke: $youmate-color;
    stroke-width: 1.3px;
    animation-direction: alternate;
  }
}


#splash img {
  @include move(50%, 50%);
  width: 120px;
}

@mixin create-splash-class($path-length, $layer-name) {
  .#{$layer-name} {
    stroke-dasharray: $path-length;
    animation: 2.0s $layer-name infinite;
  }
  @keyframes #{$layer-name} {
    0% {
      stroke-dashoffset: $path-length; // tamanho inicial
    }
    80% {
      stroke-dashoffset: 0;
      fill-opacity: 1;
    }
    100% {
      stroke-width: 0;
      fill-opacity: 1;
      fill: $youmate-color;
    }
  }
}

// https://jakearchibald.com/2013/animated-line-drawing-svg/
@include create-splash-class(122.15, layer1);
@include create-splash-class(18.80, layer2);
@include create-splash-class(129.77, layer3);
@include create-splash-class(12.81, layer4);
