@import '../../../index';
$min-height-subheader: 150px;
$max-height-subheader: 200px;
.mate-list {
  .bar-subheader {
    background: url('img/subheader.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    height: auto;
    min-height: $min-height-subheader;
    max-height: $max-height-subheader;
    padding: 12px;
  }
  input {
    background: #fff;
    font-weight: bold;
  }
  .placeholder-icon {
    font-size: 24px;
    padding-right: 16px;
  }
  you-button-facebook-login,
  .col:first-child {
    padding-left: 0px;
    padding-bottom: 0px;
  }
  you-button-google-login,
  .col:last-child {
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .geolocation {
    font-weight: bolder;
    font-size: 10pt;
    font-family: Calibri;
    color: #f5f5f5;
    height: 70px;
    max-height: 70px;
    vertical-align: middle;
    text-transform: uppercase;
  }
}

.has-button-login {
  height: $max-height-subheader;
}

.not-has-button-login {
  height: $min-height-subheader;
}

.subheader-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 150px;
  background-color: rgb(221, 75, 56);
  opacity: 0.9;
  z-index: -1;
}

.empty-list-msg {
  position: absolute;
  top: 50%;
  bottom: 50%;
  width: 100%;
  padding: 16px;
  text-align: center;
}

.ionic-refresher-content {
  position: absolute;
  bottom: 0;
}

.scroll-refresher {
  top: 90px;
}
