<ion-view title="Mates" class="mate-list">
  <div class="bar bar-subheader" id="shrink-mates">
    <div class="subheader-overlay"></div>
    <p class="text-center geolocation">{{vm.place.city}}</p>
    <a href="#/search/mate-search">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Onde você quer ir?" disabled>
      </label>
    </a>
    <div class="inline-buttons" ng-if="!vm.isLogged()">
      <you-button-facebook-login class="col"></you-button-facebook-login>
      <you-button-google-login class="col"></you-button-google-login>
    </div>
  </div>
  <ion-content class="has-header" you-scroll-shrink="shrink-mates">
    <div ng-class="vm.isLogged() ? 'not-has-button-login' : 'has-button-login'"></div>
    <ion-refresher on-refresh="vm.reloadMates()" pulling-text="Atualizando..."></ion-refresher>
    <you-mate-card-list users="vm.page.list"></you-mate-card-list>
    <ion-infinite-scroll
      ng-if="vm.page._hasNext"
      on-infinite="vm.queryMates()"
      immediate-check="false"
      spinner="android">
    </ion-infinite-scroll>
    <span class="empty-list-msg" ng-if="vm.page.isEmpty()">Não foi encontrado nenhum usuário com interesses semelhantes aos seus nessa cidade :(</span>
  </ion-content>
</ion-view>
