<ion-nav-view>
  <ion-tabs class="tabs-assertive mates-tabs">
    <ion-tab title="MATES" href="#/tabs/friends/my-mates">
        <ion-nav-view name="mates"></ion-nav-view>
    </ion-tab>
    <ion-tab href="#/tabs/friends/pending-mates"
    				 title="SOLICITAÇÕES"  
    				 badge="tabs.mateNotifications" 
    				 badge-style="badge-assertive">
        <ion-nav-view name="pending-mates"></ion-nav-view>
  </ion-tabs>
</ion-nav-view>
<ion-nav-view name="tabs-mates-content-menu"></ion-nav-view>
