@import '../app';
$title-color: #a2a2a2;
$tab-icon-color: #a2a2a2;
$tab-border-color: #a2a2a2;
$button-icon-color: #b4b4b4;
$menu-font-size: 24px;
#tabs-main {
  .tab-nav {
    -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, .3);
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, .3);
    box-shadow: 0 0px 10px rgba(0, 0, 0, .3);
  }
  .tabs,
  .tabs-top {
    top: 0px;
    width: 100%;
    background-color: #fff;
    border-color: #fff;
  }
  .tab-item .icon {
    font-size: $menu-font-size;
    color: #a2a2a2;
    line-height: 50px;
  }
  .tabs-striped.tabs-color-light .tab-item.tab-item-active {
    margin-top: 2px;
    color: $tab-border-color;
    border-top-width: 2px;
  }
  .tab-item.tab-item-active .icon {
    color: $youmate-color;
  }
  .tab-item:last-child {
    margin-left: 10%;
  }
  .you-icon-logo {
    font-size: 27px !important;
  }
  .you-icon-avatar {
    font-size: 27px !important;
  }
  .badge {
    margin-top: 2px;
    opacity: 1;
  }
}

#menu-main {
  .bar {
    height: $menu-height;
    -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, .3);
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, .3);
    box-shadow: 0 0px 10px rgba(0, 0, 0, .3);
  }
  .button-icon {
    color: $button-icon-color;
    height: $menu-font-size;
    font-size: $menu-font-size;
  }
  .back-button {
    color: $youmate-color;
  }
}


/* Search Bar */

.search-bar {
  .buttons-right,
  .right-buttons {
    width: 100%;
    padding-left: 20px;
  }
  input[type=search] {
    width: 100%;
    padding-top: 2px;
    padding-left: 0;
    height: 34px;
    color: #E61B1B;
    vertical-align: middle;
    font-size: 16px;
    line-height: 16px;
    background: #FFFFFF;
    font-weight: bold;
  }
  form {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    vertical-align: baseline;
  }
}

.platform-ios .search-bar .buttons-right,
.right-buttons {
  padding-left: 60px;
}

.bar-header .title {
  color: $title-color;
}

.mates-tabs {
  .tabs {
    top: 50px !important;
  }
  .badge {
    left: 0;
    right: 0;
  }
}

.tab-item .you-icon-polls {
  font-size: 33px !important;
}
