<ion-tabs id="tabs-main" class="tabs-color-light">
  <ion-tab icon-on="you-icon-logo" icon-off="you-icon-logo" href="#/tabs/mate"></ion-tab>
  <ion-tab class="icon-polls" icon-on="you-icon-polls" icon-off="you-icon-polls" href="#/tabs/polls"></ion-tab>
  <ion-tab href="#/tabs/chat-list"
        	 icon-on="you-icon-chat"
        	 icon-off="you-icon-chat"
        	 badge="tabs.countMessages"
        	 badge-style="badge-assertive">
  </ion-tab>
  <ion-tab href="#/tabs/friends"
           icon-on="you-icon-people"
           icon-off="you-icon-people"
           badge="tabs.mateNotifications"
           badge-style="badge-assertive">
  </ion-tab>
  <ion-tab icon-on="you-icon-avatar" icon-off="you-icon-avatar" href="#/menu/profile/edit/"></ion-tab>
</ion-tabs>
<ion-nav-view name="tabs-menu-content"></ion-nav-view>
