.header-picture {
  max-width: 33px;
  max-height: 33px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  margin-top: 2px;
}

.chat {
  background-color: #f3f3f3;
  bottom: 54px;
  .header {
    overflow: hidden;
    text-align: center;
    font-size: 1.1em;
    color: #8C8C8C;
    text-transform: uppercase;
    padding-top: 3px;
    padding-bottom: 3px;
  }
  .header:before,
  .header:after {
    background-color: #8C8C8C;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }
  .header:before {
    right: 0.5em;
    margin-left: -50%;
  }
  .header:after {
    left: 0.5em;
    margin-right: -50%;
  }
}

.space-vertical-10 {
  height: 10px;
}

.message-list {
  margin-top: 12px;
  padding: 0 5%;
}

.message-wrapper {
  margin-bottom: 9px;
}

.message-wrapper::after {
  content: "";
  display: table;
  clear: both;
}

.message {
  display: inline-block;
  position: relative;
  max-width: 236px;
  border-radius: 7px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  font-size: 12pt;

  button {
    left: 5px;
    bottom: -8px;
  }
}

.message.message-mine {
  float: right;
  background-color: #dd4b38;
}

.message.message-other {
  float: left;
  background-color: #ffffff;
}

.message.message-other::before,
.message.message-mine::before {
  content: "";
  position: absolute;
  bottom: 3px;
  width: 12px;
  height: 19px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.message.message-other::before {
  left: -11px;
  background-image: url(img/message-other.png);
}

.message.message-mine::before {
  right: -11px;
  background-image: url(img/message-mine.png);
}

.message .text {
  padding: 5px 7px;
  word-wrap: break-word;
}

.message.message-mine .text {
  color: white;
}

.message.message-mine span {
  color: white;
}

.message .text::after {
  content: " \00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
  display: inline;
}

.message .message-timestamp {
  position: absolute;
  bottom: 2px;
  right: 7px;
  color: gray;
  font-size: 12px;
}

.footer-chat {
  border-color: white;
  background-color: #f8f8f8;
  color: #444;
  -webkit-box-shadow: 0px 0px 10px #a2a2a2;
  -moz-box-shadow: 0px 0px 6px #b5b5b5;
  box-shadow: 0px 0px 8px #b7b7b7;
  height: auto;
}

.footer-chat .item-input-wrapper {
  background-color: #f7f7f7;
}

.footer-chat .button.button-icon {
  position: absolute;
  top: 8px;
  right: 0px;
  margin: 0 10px;
  color: #DD4B38;
}

.footer-chat .buttons-seperator {
  color: white;
  font-size: 18px;
  line-height: 32px;
}

.footer-chat textarea {
  background-color: #F8F8F8;
  font-size: 13pt;
  width: 100%;
  line-height: 20px;
  margin-right: 40px;
  margin-bottom: 8px;
  resize: none;
}
