<ion-view>
  <ion-nav-bar id="menu-main">
    <ion-nav-back-button ng-click="vm.goBack()">
      <img class="header-picture" ng-src="{{ vm.target.profile.photo_url }}">
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-nav-title>
    <h3 you-goto-profile user-id="{{vm.target.id}}" style="margin-top: 13px;color: gray; font-size: 19px;">
      {{vm.target.first_name}} {{vm.target.last_name}}
    </h3>
  </ion-nav-title>
  <!-- <ion-nav-buttons side="right">
    <button class="button button-clear" >
      <img class="header-picture" ng-src="{{ vm.target.profile.photo_url }}">
    </button>
  </ion-nav-buttons> -->
  <ion-content class="has-header chat" delegate-handle="chatScroll">
    <div class="space-vertical-10"></div>
    <div class="message-list">
      <div ng-repeat="(day, messagesOfDay) in vm.messages | groupBy: 'day'">
        <h1 class="header">{{day}}</h1>
        <div ng-repeat="(key, message) in messagesOfDay track by $index" class="message-wrapper" on-hold="vm.copyText(message.message)">
          <div class="message {{ message.sent_by == vm.user.id ? 'message-mine' : 'message-other'}}">
            <div class="text">{{ message.message }}</div>
            <span class="message-timestamp">{{ message.timestamp  | date:'HH:mm' }}</span>
            <button class="button icon-left ion-alert-circled button-clear button-dark"
                    ng-if="message.status === 'error'" ng-click="vm.showActionSheet(message)">
              Falha
            </button>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar keyboard-attach class="footer-chat item-input-inset">
    <label class="item-input-wrapper">
      <textarea you-elastic-textarea rows="1" placeholder="Escreva uma mensagem" ng-focus="vm.inputUp()" ng-blur="vm.inputDown()" ng-model="vm.newMessage">
      </textarea>
    </label>
    <button class="button button-clear button-icon button-positive icon ion-android-send" ng-disabled="!vm.newMessage" ng-click="vm.sendMessage()">
    </button>
  </ion-footer-bar>
</ion-view>
