<ion-view view-title="Encontrar Mates">
  <ion-content class="has-header has-subheader">
    <ion-list>
      <ion-item ng-repeat="(key, user) in vm.users" class="item-chat item item-thumbnail-left" ng-class="{'remove-border-top': $first}" type="item-text-wrap">
        <img ng-src="{{user.profile.photo_url}}" you-goto-profile user-id="{{user.id}}">
        <h2 class="padding-top">{{user.first_name}} {{user.last_name}}</h2>
        <div class="row row-no-padding">
          <div class="col">
            <button class="button button-small button-block button-stable button-peding-exclude button-outline" ng-click="vm.rejectMate(user.profile.id)">
              Excluir
            </button>
          </div>
          <div class="col">
            <button class="button button-small button-block button-assertive button-peding-confirm" ng-click="vm.acceptMate(user.profile.id)">
              Confirmar
            </button>
          </div>
        </div>
      </ion-item>
    </ion-list>
    <ion-spinner icon="android" ng-if="vm.loading"></ion-spinner>
    <span class="empty-list-msg" ng-if="vm.emptyList">Nenhuma solicitação pendente!</span>
  </ion-content>
</ion-view>
