.interest {
  text-align: center;
  padding: 0 5px;
  font-weight: bold;
  img {
    width: 70px;
    height: 70px;
    margin: 0 auto;
  }
}

.interest-content {
  padding: 5px;
}

.unchecked {
  background-color: rgba(92, 221, 109, 0.27);
}

.row-wrap {
  flex-wrap: wrap;
}
