<div>
  <div class="row row-wrap interest">
    <div class="col col-33 interest-content" ng-repeat="(id, interest) in interestEdit.interests" ng-click="interestEdit.check(interest)" ng-class="{unchecked : interest.check}">
      <img ng-src="{{interest.url}}">
      <p ng-if="interest.order">{{interest.order}}</p>
      <p>{{interest.title}}</p>
    </div>
  </div>
</div>
