.interest-list {
  width: 90%;
  height: 90%;
  img {
    top: 10px !important;
    max-height: 30px !important;
    max-width: 30px !important;
  }
  .item-avatar,
  .item-avatar .item-content,
  .item-avatar-left,
  .item-avatar-left .item-content {
    min-height: 0px !important;
  }
}
