<ion-modal-view class="nifity-modal interest-list">
  <ion-header-bar>
    <div class="buttons">
      <button class="button button-icon icon ion-android-close" ng-click="vm.closeInterestsModal()"></button>
    </div>
    <h1 class="title">Interesses</h1>
  </ion-header-bar>

  <ion-content>
    <div class="list">
    	<div class="item item-avatar" ng-repeat="interest in vm.interests">
    		<img ng-src="{{ interest.picture || interest.url }}">
    		<h2>{{ interest.title || interest.name }}</h2>
    	</div>
    </div>
  </ion-content>
</ion-modal-view>
