$youmate-color: #dd4b38;
$youmate-icon-color: #000;
$youmate-background: #f5f5f5;
$menu-height: 48px;
.pac-item {
  padding: 5px 4px !important;
  height: 45px;
}

.text-center {
  text-align: center !important;
}

.text-uppercase {
  text-transform: uppercase;
}

.spinner {
  position: absolute;
  right: 50%;
  margin-top: 15px;
}

.spinner svg {
  width: 28px;
  height: 28px;
  stroke: $youmate-color;
  fill: $youmate-color;
}

textarea {
  line-height: 15px;
}

.angular-input-stars {
  display: inline-block;
  position: relative;
  list-style: none;
  li {
    margin-top: 4px;
    font-size: 14pt;
    padding: 0;
    margin: 0;
    display: inline-block;
    cursor: pointer;
  }
  li .active {
    color: #FDE35E;
    text-shadow: none;
  }
}

.angular-input-stars > li .active.angular-input-stars-hover {
  text-shadow: none;
}

.tab-title {
  font-weight: 600;
}

.has-subheader {
  top: 92px;
}

.nifity-modal {
  position: absolute !important;
  display: inline-block;
  min-height: 0 !important;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  .angular-input-stars {
    width: 100%;
  }
  .angular-input-stars li {
    font-size: 30px;
    padding: 10px;
  }
}

.rating-modal .ion-modal-content-custom {
  width: 100%;
  height: 100%;
  background-color: #333;
}


/* Fix modal backdrop for smaller devices */

@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .5;
  }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
  }
}
