@font-face {
    font-family: 'youmate';
    src:    url('fonts/youmate.eot?16eobh');
    src:    url('fonts/youmate.eot?16eobh#iefix') format('embedded-opentype'),
        url('fonts/youmate.ttf?16eobh') format('truetype'),
        url('fonts/youmate.woff?16eobh') format('woff'),
        url('fonts/youmate.svg?16eobh#youmate') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="you-icon-"], [class*=" you-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'youmate' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.you-icon-chat:before {
    content: "\e903";
}
.you-icon-trip:before {
    content: "\e918";
}
.you-icon-people:before {
    content: "\e919";
}
.you-icon-polls:before {
    content: "\e91d";
}
.you-icon-email:before {
    content: "\e91c";
}
.you-icon-air:before {
    content: "\e908";
}
.you-icon-logo:before {
    content: "\e91b";
}
.you-icon-avatar:before {
    content: "\e91a";
}
.you-icon-adventure:before {
    content: "\e900";
}
.you-icon-animal:before {
    content: "\e901";
}
.you-icon-beach:before {
    content: "\e902";
}
.you-icon-culture:before {
    content: "\e904";
}
.you-icon-edit:before {
    content: "\e905";
}
.you-icon-gastronomy:before {
    content: "\e906";
}
.you-icon-heart:before {
    content: "\e907";
}
.you-icon-logo-with-name .path1:before {
    content: "\e909";
    color: rgb(0, 0, 0);
}
.you-icon-logo-with-name .path2:before {
    content: "\e90a";
    margin-left: -2.35546875em;
    color: rgb(0, 0, 0);
}
.you-icon-logo-with-name .path3:before {
    content: "\e90b";
    margin-left: -2.35546875em;
    color: rgb(0, 0, 0);
}
.you-icon-logo-with-name .path4:before {
    content: "\e90c";
    margin-left: -2.35546875em;
    color: rgb(0, 0, 0);
}
.you-icon-logo-with-name .path5:before {
    content: "\e90d";
    margin-left: -2.35546875em;
    color: rgb(0, 0, 0);
}
.you-icon-logo-with-name .path6:before {
    content: "\e90e";
    margin-left: -2.35546875em;
    color: rgb(0, 0, 0);
}
.you-icon-logo-with-name .path7:before {
    content: "\e90f";
    margin-left: -2.35546875em;
    color: rgb(0, 0, 0);
}
.you-icon-logo-with-name .path8:before {
    content: "\e910";
    margin-left: -2.35546875em;
    color: rgb(221, 75, 56);
}
.you-icon-logo-with-name .path9:before {
    content: "\e911";
    margin-left: -2.35546875em;
    color: rgb(221, 75, 56);
}
.you-icon-logo-with-name .path10:before {
    content: "\e912";
    margin-left: -2.35546875em;
    color: rgb(221, 75, 56);
}
.you-icon-logo-with-name .path11:before {
    content: "\e913";
    margin-left: -2.35546875em;
    color: rgb(221, 75, 56);
}
.you-icon-nature:before {
    content: "\e914";
}
.you-icon-party:before {
    content: "\e915";
}
.you-icon-physical-activity:before {
    content: "\e916";
}
.you-icon-pub:before {
    content: "\e917";
}

